
body {
    background-color: #121212;
    color: white;
    font-family: Merriweather, sans-serif;
}

h2 {
    font-family: Montserrat;
}

section {
    margin-bottom: 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

a {
    color: whitesmoke;
    position: relative;
    padding: 4px;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: red;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

a:hover::before {
    width: 100%;
    left: 0;
}

a:hover {
    color: white;
}

.no-underline:hover::before {
    width: 0;
}

.no-underline:hover {
    color: inherit;
}

hr {
    background-color: white;
    margin: 0;
}
/* NAVBAR  */

.logo {
    width: 40px;
    border-radius: 15%;
}
.navbar-brand {
    font-size: 1.5rem;
    font-family: Montserrat;
    transition: transform 0.2s ease-in-out;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.top-section {
    font-size: 18px;
}

.navbar-nav li {
    margin-right: 20px;
}

#nav-item-engineering {
    font-family: 'Space Mono', monospace;
    position: relative;
}

#nav-item-arts {
    font-family: Cinzel, cursive;
    font-weight: 900;
    position: relative;
}

/* HOME SECTION  */

.home-section {
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
    align-items: center;
}

.info-container h1 {
    font-size: 58px;
    font-family: Playfair Display, cursive;
}

.info-container {
    text-align: center;
    line-height: 5;
    font-size: 20px;
}

/* FOOTER  */

.footer a {
    text-decoration: none;
    color: white;
}

.social-links a {
    margin: 0 5px;
    font-size: 20px;
}

/* Upcoming Pages */

.upcoming-page .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}